.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation ul li {
	display: block;
	background-color: #3C3E94;
	border: 2px solid white;
	width: 150px;
	height: 50px;
	font: 20px;
	text-align: center;
	position: relative;
	float: left;
}

.navigation ul li:hover {
	background-color: #990;
	color: white;
}

.navigation ul li a {
	display: block;
	width: 60px;
	color: #000;
	text-decoration: none;
	padding: 8px 16px;
}