*{
	margin: 0px;
	padding: 0px;
}
.dropdown ul {
	list-style: none;
}

.dropdown ul li {
	background-color: #3C3E94;
	width: 150px;
	height: 50px;
	border: 1px solid white;
	line-height: 50px;
	text-align: center;
	float: left;
	color: white;
	font-size: 18px;
	position: relative;
}

.dropdown ul li:hover {
	background-color: #388222;	
}

.dropdown ul ul {
	display: none;	
}

.dropdown ul li:hover > ul {
	display: block;	
}

.dropdown ul ul ul {
	margin-left: 150px;
	top: 0px;
	position: absolute;	
}